label.step-label {
  margin-top: 8px;
}

div.steps-remove {
  font-size: 1.6em;
  padding-left: 0px;
  padding-top: 11px;
}

div.ingredients-remove,
div.ingredients-swap {
  font-size: 1.6em;
  padding-left: 0px;
  padding-top: 5px;

}

div.steps-remove a,
div.steps-remove a:link,
div.steps-remove a:visited,
div.steps-remove a:hover,
div.steps-remove a:active {
  color: #8090D0;
}
